/*  ----------------
 FONTS
 ------------------- */
$browser-context: 14;





/*  ----------------
  COLOR - PALETTE
 ------------------- */
$default-color: #acac90;
$default-cover-color: #cbcbcb;



