/*  ----------------
 FONTS
 ------------------- */
$browser-context: 14;





/*  ----------------
  COLOR - PALETTE
 ------------------- */
$default-color: #acac90;
$default-cover-color: #cbcbcb;
$validate-bg-color: #e67165;



/*  ----------------
 OFFSETS
 ------------------- */
$x1: em(6);
$x2: em(12);
$x3: em(24);
$x4: em(36);
$x5: em(48);
$x6: em(60);



