.article-list {
  padding: 0;

  .article-content__title {
    margin-top: $x4;

    span {
      @include text($default-font, em(16), normal, normal, #000);
      font-weight: 700;
      display: block;
      text-transform: uppercase;
    }
  }

  .article-content__description {
    margin-top: $x2;

    span {
      @include text($default-font, em(14), normal, normal, #000);
      display: block;
    }
  }

  .article-content__comments {
    margin-top: $x4;

    span.comments-quantity {
      @include text($default-font, em(14), 36px, normal, #000);
      display: block;
    }
  }

  .comment-tree__block {
    .comment-item {
      position: relative;
      padding: $x2 0;
      border-bottom: 1px solid $default-color;

      span {
        display: block;
      }

      span.comment-item__author {
        @include text($default-font, em(14), 36px, normal, #000);
        font-weight: 700;
      }

      span.comment-item__text {
        @include text($default-font, em(14), 36px, normal, #000);
      }

      span.comment-item__date {
        @include text($default-font, em(14), normal, normal, #666);
        text-align: right;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      .children-comment {
        margin: $x2 0 $x2 $x3;

        .comment-item {
          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .article-content__comments-form {
    .form-group {
      margin-bottom: 12px;
      display: inline-block;
    }

    .form-group--left, .form-group--right{
      width: 50%;
    }

    .form-group--left {
      padding-right: 12px;
    }

    .form-group--right {
      padding-left: 12px;
    }

    .form-group--comment {
      width: 100%;

      textarea {
        min-height: 120px;
      }
    }
  }
}