.article-item__sticker {
  position: absolute;
  width: em(44);
  left: em(-12);
  top: 0;
  height: auto;
  background: $default-color;
  z-index: 9999;
  text-align: center;

  span.sticker-date {
    @include text($default-font, em(26), normal, normal, #fff);
    display: block;
    margin-bottom: em(6);
  }

  span.sticker-other {
    display: block;
    transform: rotate(90deg);
    position: relative;
    margin-bottom: em(48);
    text-align: left;
    border-left: 1px solid #333;
    padding-left: 6px;

    span {
      @include text($default-font, em(14), normal, normal, #fff);
      display: block;
      text-transform: uppercase;
    }
  }
}