.article-list {
  width: 80%;
  display: inline-block;
  padding-right: $x2;
  position: relative;
}

.contact-block {
  width: 20%;
  display: inline-block;
  padding: 0 $x2;
  vertical-align: top;
  position: relative;
}

.article-item {
  position: relative;
  margin-bottom: $x4;

  a {
    display: block;
  }

  &:before {
    @include psv();
    width: 100%;
    height: em(2);
    background: $default-color;
    left: 0;
    bottom: 1px;
  }

  .article-item__img {
    width: 50%;
    position: relative;
    display: inline-block;

    img {
      width: 100%;
    }
  }

  .article-item__description {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: $x2;

    span.article-item__title {
      @include text($default-font, em(16), normal, normal, #000);
      font-weight: 700;
      display: block;
      text-transform: uppercase;
    }

    span.article-item__text {
      @include text($default-font, em(14), normal, normal, #000);
      display: block;
      padding-top: 36px;
    }
  }

  span.article-item__read {
    @include text($default-font, em(14), 36px, normal, $default-color);
    position: absolute;
    right: 0;
    bottom: 12px;
    width: 160px;
    border: 1px solid $default-color;
    text-align: center;
  }
}

.onload-article {
  display: inline-block;
  width: 100%;
  text-align: center;

  span.onload-article__text {
    @include text($default-font, em(14), 54px, normal, $default-color);
    display: block;
  }
}

@include mq(240, 640) {
  .article-item {
    .article-item__img, .article-item__description {
      width: 100%;
    }

    .article-item__description {
      padding: $x2 0;

      span.article-item__text {
        padding-top: $x2;
      }
    }

    span.article-item__read {
      position: relative;
      display: inline-block;
      margin: $x2 0;
    }
  }

  .article-list {
    width: 100%;
  }

  .contact-block {
    display: none;
  }
}